@model Nop.Plugin.Payments.Deposit.Models.PublicDepositModel
@using System.Security.Policy
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@{
    const string kendoVersion = "2017.1.118";
    // CSS
    Html.AppendCssFileParts(string.Format("~/Administration/Content/kendo/{0}/kendo.rtl.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Administration/Content/kendo/{0}/kendo.default.min.css", kendoVersion));
    Html.AppendCssFileParts(string.Format("~/Administration/Content/kendo/{0}/kendo.common.min.css", kendoVersion));
    // Scripts
    Html.AppendScriptParts(string.Format("~/Administration/Scripts/kendo/{0}/kendo.web.min.js", kendoVersion));

    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer")
}
<div class="page account-page">
    <div class="page-title">
        <h1>@T("Payment.Deposit.CustomerDeposit")</h1>
    </div>
    <div class="page-body">
        <div class="fieldset">
            <div class="info>"
                 @Html.LabelFor(model => model.DepositAmount, new {}, ":")
                 @Html.DisplayTextFor(model => model.DepositAmount)
                 @Html.DisplayTextFor(model => model.DepositCurrencyCode)
            </div>
        </div>
        <div class="buttons">
            <a href="@Url.RouteUrl("Plugin.Payments.Deposit.Charge")" class="active button-1">
                @T("Payment.Deposit.Charge")
            </a>
            <a href="#" class="button-1 change-currency-button">
                @T("Payment.Deposit.ChangeCurrency")
            </a>
        </div>
    </div>
</div>

<script id="dialog-confirmation" type="text/x-kendo-template">
    <p class="delete-message">@Html.DisplayTextFor(model => model.ChangeCurrencyConfirmationMessage)</p>

    <a href="@Url.Action("ChangeCurrency", "PublicDeposit")" class="button-confirm k-button">Yes</button>
    <a href="#" class="button-cancel">No</a>
</script>
<script>
    $(".change-currency-button").click(function(e) {
        e.preventDefault();
        var kendoWindow = $("<div />").kendoWindow({
            title: "@T("Common.Confirm")",
            resizable: false,
            modal: true
        });

        kendoWindow.data("kendoWindow")
            .content($("#dialog-confirmation").html())
            .center().open();

        kendoWindow
            .find(".button-confirm,.button-cancel")
            .click(function() {
                if ($(this).hasClass("button-confirm")) {
                    @* Here I can put some code for confirmation *@
                }

                kendoWindow.data("kendoWindow").close();
            })
            .end();
    });
</script>